<mat-toolbar class="toolbar" color="primary" fxLayout>
  <button class="toolbar__icon-button" mat-icon-button>
    <mat-icon>menu </mat-icon>
  </button>

  <div class="toolbar__logo-title-group" fxLayout fxLayoutAlign="center center">
    <a [routerLink]="['/']" fxLayout>
      <img src="/assets/logo.svg" alt="" class="toolbar__logo">
    </a>
    <a [routerLink]="['/']" class="toolbar__title">NgAuction</a>
  </div>

  <div fxFlex></div>

  <button mat-icon-button class="toolbar__icon-button toolbar__shopping-cart-button">
    <mat-icon>shopping_cart</mat-icon>
  </button>

</mat-toolbar>
<!-- <router-outlet></router-outlet> -->