<mat-toolbar class="toolbar" color="primary">
  <button class="toolbar__icon-button" mat-icon-button>
    <mat-icon> menu </mat-icon>
  </button>

  <div class="toolbar__logo-title-group">
    <a [routerLink]="['/']">
      <img src="/assets/logo.svg" alt="" class="toolbar__logo">
    </a>
    <a [routerLink]="['/']" class="toolbar__title">NgAuction</a>
  </div>

  <div></div>

  <button mat-icon-button class="toolbar__icon-button toolbar__shopping-cart-button">Shopping_cart</button>

</mat-toolbar>
<!-- <router-outlet></router-outlet> -->